html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

#wall {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-position: center;
    background-color: #3F51B5;
}