html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

#wall {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #3F51B5;
    display:table;
}
#newwall {
    position: absolute;
    right: 0px;
}

#wallsubmit {
    position:absolute;
}
.raisedbutton {
    background: #6f86ff;
    color: #ffffff;
    margin: 1em;
    width: 8em;
    border: 0;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    text-align: center;
    font-family: sans-serif;
}

.raisedbutton:hover {
    box-shadow: 0 2px 10px 4px rgba(0, 0, 0, 0.3);
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    transition: all ease 0.2s;
}

.raisedbutton span {
    font-size:0.9em;
    display: inline-block;
    margin: 0.5em;
}

.loadcontainer, .middiv {
    display: table-cell;
    vertical-align: middle;
}

#loading {
    text-align: center;
    color: white;
}

#videocontainer {
    display:table;
    margin: 0px auto;
}

#showsubmit {
    width: 10em;
    background: #4CAF50;
}