@-webkit-keyframes zipin {
    from {margin-left: -100px; opacity: 0;}
    to {margin-left: 10px; opacity: 1;}
}

@keyframes zipin {
    from {margin-left: -100px; opacity: 0;}
    to {margin-left: 10px; opacity: 1;}
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px;
    background: black;
}

#wall {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #3F51B5;
    display:table;
    transition: all ease 0.4s;
}
#newwall {
    position: absolute;
    right: 0px;
}

#wallsubmit {
    position:absolute;
}
.raisedbutton {
    background: #6f86ff;
    color: #ffffff;
    margin: 1em;
    width: 8em;
    border: 0;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: center;
    font-family: sans-serif;
}

.raisedbutton:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    transition: all ease 0.2s;
}

.raisedbutton span {
    font-size:0.9em;
    display: inline-block;
    margin: 0.5em;
}

.loadcontainer, .middiv {
    display: table-cell;
    vertical-align: middle;
}

#loading {
    text-align: center;
    color: white;
}

#videocontainer {
    display:table;
    margin: 0px auto;
}

#showsubmit {
    width: 10em;
    background: #4CAF50;
}

#submitform {
    display: block;
    background: white;
    padding: 20px;
    border-radius: 3px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-animation-name: zipin;
    -webkit-animation-duration: 1s;
    animation-name: zipin;
    animation-duration: 1s;
}

#submitform:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#submitform input {
    width: 98%;
    margin-bottom: 5px;
    padding: 1%;
    border-radius: 3px;
    border: solid 4px grey;
    font-size: 1em;
}

#submit {
    margin: 0px 0px;
    float: right;
}